{% extends 'base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'products/css/index.css' %}" rel="stylesheet"/>
<h1>Products</h1>
<div class="row justify-content-evenly">
  {% for product in products %}
    <div class="col-4">
      <div class="row p-2 justify-content-between gap-1 card-product">
        <div class="col-6">{{ product.name }}</div><div class="col-6">Rp. {{ product.price }}</div>
      </div>
      <div class="mt-4">
        <img src="{{ product.image_url }}" width="200px"></img>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
